{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}

{% block body %}

    <div class="bg-secondary pb-7">
        <!-- Page content-->
        <!-- Slanted background-->
        <div class="position-relative" style="height: 480px;">

        </div>
        <!-- Page content-->
        <div class="container bg-overlay-content pb-4 mb-md-0 pb-4" style="margin-top: -350px;">
            <div class="row">
                <!-- Sidebar-->
                {% include 'profile/sidebar.html.twig' %}
                <!-- Content-->
                <div class="col-lg-8">
                    <div class="d-flex flex-column h-100 bg-light rounded-lg box-shadow-lg p-4">
                        <div class="py-2 p-md-3">

                            <!-- Messages Flash-->
                            <div class="container">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Title + Delete link-->
                            <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-left">
                                <h1 class="h3 mb-2 text-nowrap">Profile info</h1>
{#                                <a class="btn btn-link text-danger font-weight-medium btn-sm mb-2" href="#">#}
{#                                    <i class="fe-trash-2 font-size-base mr-2"></i>Delete account</a>#}
                            </div>

                            <!-- Content-->
                            {{ form_start(form) }}


                            {{ form_end(form) }}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>












{% endblock %}
