{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublier{% endblock %}


{% block body %}
    <div class="h-75 mt-6">
        <div class="d-flex justify-content-center ">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}


            <div class="row m-4">
                <div class="col-12 mt-4">
                    <h2>Mot de passe oublié</h2>
                </div>
                <div class="col-10 border m-2 p-2 mb-7 ">
                    {{ form(emailForm) }}

                </div>
            </div>

        </div>

    </div>


{% endblock %}