{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublier{% endblock %}


{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        <h2>Mot de passe oublié</h2>
        {{ form(emailForm) }}

    </div>



{% endblock %}