{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}

{% block body %}

    <!-- Hero-->



    <section class="jumbotron jarallax bg-dark mh-100"  data-jarallax data-type="scale-opacity" data-speed="0.09">
        <button onclick="topFunction()" id="myBtn2" title="Go to top">
            <a href="#tricks" style="color: white"><i class="fe-arrow-down"></i></a>
        </button>
        <div class="jarallax-img" style="background-image: url(img/home/hero-snow.jpg);"></div>
        <div class="container p-6"></div>

        <div class="container align-items-center py-md-4 mt-4">

            <div class="row justify-content-center ">
                <div class="col-xl-6 col-lg-6 col-md-6 ">
                    <div class=" rounded-lg box-shadow-lg py-5">
                        <div class="py-sm-2 px-sm-3">
                            <h1 class="text-center text-white mb-4">Bienvenue sur SnowTricks</h1>
                            <div class="row mt-4">
                                <div class="col-sm-12">
                                    <h2 class="text-center text-white mb-4">Le site communautaire de référence sur le Snow Bord !</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!-- List Tricks-->
    <section class="bg-secondary d-flex justify-content-center py-5 my-md-0 pt-md-7 pb-md-6" id="tricks" >
        <div class="container-fluid">

            <!-- Messages Flash-->
            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>


            {% include 'trick/_liste.html.twig' %}


        </div>
    </section>









{% endblock %}
