{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Crée une catégorie</h2>
        {{ include('admin/category/_form.html.twig', {form: form, button: 'Crée'}) }}

    </div>

{% endblock %}
