<h1>Activation de votre compte</h1>
<p>Vous avez crée un compte sur notre site SnowTicks, veuillez cliquer sur le lien ci dessou pour l'activer :</p>
<p><a href="{{ absolute_url(path('security_activation', {'token': token})) }}">Activer votre compte</a></p>