{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer le trick</h2>
        {{ include('admin/trick/_form.html.twig', {form: form, button: 'Editer'}) }}

    </div>



{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/medias.js') }}"></script>

{% endblock %}
